.BuildCard{
  object-fit: contain;
}

.card{
  border-radius: 1em;
  padding: 0em;
  border: .25em inset rgba(128, 128, 128, 0.486);
  background-color: rgb(44, 216, 101);
}

.build-img{
  max-width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 1em 1em 1em 1em;
  border: 0;
}

.card-btns{
  margin-top: .5em;
  position: relative;
}

.modal-content{
  background-color: rgb(98, 94, 94);
  color: aliceblue;
}

.build-jumbo-card{
  display: flex;
  flex-flow: column wrap;
}