.BuildCard{
  object-fit: contain;
  border-radius: 1em;
  padding: 0em;
  border: .25em inset rgba(128, 128, 128, 0.486);
  background-color: rgb(44, 216, 101);
}

.jumbotron{
  background-color: rgb(139, 30, 30);
  // display: flex;
  align-content: center;
  border: 2px inset rgba(128, 128, 128, 0.589);
}

.build-img{
  min-width: 500px;
  min-height: 500px;
  padding: -.5px;
  display: inline-block;
  // height: 500px;
  // width: 500px;
  margin: 0 auto;
  border: 5px outset green;
  border-radius: 3em;
}

.build-img-src{
  height: 500px;
  width: 500px;
  border-radius: 3em;
}

.card-btns{
  margin-top: .5em;
  position: relative;
}

.modal-content{
  background-color: rgb(98, 94, 94);
  color: aliceblue;
}

.build-jumbo-card{
  display: flex;
  flex-flow: column wrap;
}