.Auth{
  display: block;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 0em 0em 1em 1em;
  width: 100%;
}

.banner-top{
  margin-bottom: 0;
}

.featured-con{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(228, 0, 4, 0.75);
  border: 5px outset rgba(0, 0, 0, 0.39);
  border-top: 0;
  border-radius: 1em;
  margin-bottom: 5%;
}